		
		@font-face {
			font-family: StarJediSE;
			src:url(../fonts/stjedise.ttf);
		}

		.container{
			border: 3px grey solid;
			
			border-bottom-left-radius :10px;
			border-bottom-right-radius :10px;
			border-top-left-radius :50px;
			border-top-right-radius :255px;
			margin-top: 20px;
			background: #1C1E22;
						
			/*background-color: #1C1E22;*/
			/*background-color: #F5F5F5;*/
		}

		.table th {
			color:#c2c2d6;
		}

		.table td {
			color: #F5F5F5;
		}
		
		tbody tr:hover {
			background: #272B30;
			cursor: pointer;
		}
		

		.search-element{
			margin-bottom: 50px;
		}

		#gallery{
			float:left;
			padding: 10px;
			margin-right: 10px;

		}

		#gallery img{
			margin-right: 5px;
			margin-bottom: 5px;

		}

		#beerQuery + span {
			cursor: pointer;
		}

		.header {
			
		}

		/*body {
			background: #272B30;
		}
*/
		img {
			border: 2px black solid;
			margin: 5px;
		}

		.hid{
			visibility:hidden;
		}

		h1 strong{
			margin-left: 10px;
		}
		
		.fa-mars{
			color:lightblue;
		}
		
		.fa-venus{
			color:pink;
		}

		.fa-mercury{
			color:goldenrod;
		}
		.fa-ban{
			color:red;
		}

		.modal-header h1{
			display:inline;
		}

		#genderIco {
			float:right;
		}

		.main-header {
			font-family: StarJediSE;
			font-size: 60px;
		}

		.footer span {
			align-items: right;
		}

		.footer .container {
			margin-top: 3px;
		}

		.foot-right {
			float:right;
		}

		input[type=text] {
			width:60%;
		}

		.container #maincontainer {
			border-top-right-radius: 5px;
		}

		.head-left>.mainheader {
			margin-left: 15px;
		}
		
		.sub-header {
			vertical-align: bottom;
		}

		a {
			color: #C2C2D6;

		}
		a:hover {
			text-decoration: none;
			color: #C2C2D6;
		}
		.ctn {
			width:90%;
			margin-left: 0px;
		}